// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break: 40em 9 lt-ie9;
$show-grid-backgrounds  : false;

// Colors
$background: #333842;
$title : #737E95;
$blanc : #FFFFFF;
$link : #3190ef;
$dribbble-color:#ea4c89;
$github-color:#4183c4;
$wordpress-color:#21759B;