// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/reset";
@import "base";
@import "fonts";
@import "typo";

/* -------------------------------------------------------------------------*/
::selection
{
color:$background;
background:$link;
}
::-moz-selection
{
	color:$background;
	background:$link;
}

// Default single box shadow
.box-shadow-default {
  @include single-box-shadow; }

.box-shadow-custom-multiple {
  @include box-shadow(rgba(black, 0.2) 0 0 3px 1px); }



/* Layout */
html, body {
    height: 100%;
	-webkit-font-smoothing: antialiased;
}

.typekit-badge {
	display: none !important;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.container {
	@include susy-grid-background;
    @include container;
    @include at-breakpoint($break) {
        @include container;
    }
}

body {
	background: $background;
	color:$background;
}

#header{
	background:$blanc;
	@include padding-leader(1.5);
	margin-top: 30px;
    @include padding-trailer(1.5);
}
#footer{
	background:$blanc;
	@include padding-leader(0.5);
	@include padding-trailer(0.5);
	@include adjust-font-size-to(14px);
	text-align:center;
}
#footer p{
	margin-top:13px;
}

#container-header {
	/*@include at-breakpoint($break) {
		@include span-columns(9, 9);
	}*/
}
#container-header h1,#container-header h2,#container-header h3{
	text-align:center;
}


.picto-sociaux{
	font-family:"SSSocial";
	font-size: 1.3em;
	color:$background;
	text-decoration:none;
	padding:0 5px 0 5px;
}

#dribbble:hover{
	color:$dribbble-color;
}
#github:hover{
	color:$github-color;
}
#wordpress:hover{
	color:$wordpress-color;
}
#contenu{
	color:$title;
	margin-top:10px;
	/*padding:10px;*/
}
#contenu h2 {
	margin-bottom: 15px;
	font-size: 1.3em;
	@include at-breakpoint($break) {
		@include adjust-font-size-to(16px);
    }
}
.picto-line{
	font-family:"SSSymbolicons";
	font-size:1.2em;
	margin-right:17px;	
}
#contenu a{
	color:$link;
	text-decoration:none;
}


#webdesign {
	margin-top:30px;
	@include span-columns(4, 4);
	@include at-breakpoint($break) {
		@include span-columns(2, 4);
	}
}

#dev {
	margin-top:30px;
	@include span-columns(4, 4);
	@include at-breakpoint($break) {
		@include span-columns(2 omega, 4);
	}
}

#competences {
	margin-top:30px;
	@include span-columns(4, 4);
	
	@include at-breakpoint($break) {
		@include span-columns(9 omega, 9);
	}
}

#projets {
	@include span-columns(4, 4);
}

.container-projet {
	
}

#competences ul li{
	margin-bottom:10px;
	@include at-breakpoint($break) {
		@include span-columns(3, 9);
	}
	
	&:nth-child(3n) {
		@include at-breakpoint($break) {
			@include span-columns(3 omega, 9);
		}
	}
}



#webdesign p, #dev p{
	color:$blanc;
	line-height:1.6em;
	font-size:0.9em;
}
.title-skill{
	color:$link;
	margin-left:20px;
	@include at-breakpoint($break) {
		font-size:0.9em;
		margin-left:10px;
    }
	
}

.star-on{
	font-family:"SSSymbolicons";
	@include adjust-font-size-to(20px);
	margin-right: 0.2em;
	color:$link;
	@include at-breakpoint($break) {
		@include adjust-font-size-to(17px);
	}	
}
.star-off{
	font-family:"SSSymbolicons";
	@include adjust-font-size-to(20px);
	margin-right: 0.2em;
	@include at-breakpoint($break) {
		@include adjust-font-size-to(17px);
	}	
}

#projets h2{
	margin-top:35px;
}

.projet{
	background:$title;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}


.container-projet h3{
	margin-top:10px;
	margin-bottom: 15px;
	font-size: 1.2em;
}
.container-projet p{
	line-height: 1.6em;
	margin-bottom:40px;
}



